@model PagedArtworkModel

<table width="100%" border="0" cellspacing="0" cellpadding="0" class="t-grid">
    <thead>
        <tr class="theadbg">
            <th align="center" class="zpname">作品名称</th>
            <th align="center" class="zpimg">作品图片</th>
            <th align="center" class="zuozhe">作者</th>
            <th align="center" class="zplx">作品类型</th>
            <th align="center" class="zpcailiao">作品材质</th>
            <th align="center" class="zpticai">题材</th>
            <th align="center" class="paimailx">拍卖类型</th>
            <th align="center" class="zt">状态</th>
            <th align="center" class="caozuo">操作</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Artworks.Count; i++)
        {
            var item = Model.Artworks[i];
            <tr RecordId="@item.Id">
                <td align="center" class="zpname">@item.Name</td>
                <td align="center" class="zpimg">
                    <img src="@item.ImageFileName" width="50px" height="50px" /></td>
                <td align="center" class="zuozhe">@item.ArtistName</td>
                <td align="center" class="zplx">@item.ArtworkType</td>
                <td align="center" class="zpcailiao">@item.ArtMaterial</td>
                <td align="center" class="zpticai">@item.Genre</td>
                <td align="center" class="paimailx">@item.AuctionType</td>
                <td align="center" class="zt">@(item.IsPublic ? "已发布" : "未发布")</td>
                <td align="center" class="caozuo">
                    <a href="/Artwork/Edit/@item.Id">编辑</a>
                    <a href="javascript:void(0)" class="J_deletezpBtn">删除</a>
                    @if (item.IsPublic)
                    {
                        <a href="javascript:void(0)" class="J_cancelBtn">取消发布</a>    
                    }
                    else
                    {
                        <a href="javascript:void(0)" class="J_issueBtn">发布</a>    
                    }
                    <a href="/Artwork/Detail/@item.Id">查看</a>
                </td>
            </tr>
        }
    </tbody>
</table>


@Html.Partial("_Pager", Model.PagingResult)
